/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=League+Spartan:wght@100..900&display=swap');
:root{
    --header-height:4rem;
    /* color-HSL(hue,saturation,lightness) */
    --first-color:hsl(176,88%,27%);
    --first-color-alt:hsl(129,44%,94%);
    --second-color:hsl(34,94%,87%);
    --title-color:hsl(0,0%,13%);
    --text-color:hsl(154,13%,32%);
    --text-color-light:hsl(60,1%,56%);
    --body-color:hsl(0,0%,100%);
    --container-color:hsl(0,0%,93%);
    --border-color:hsl(129,36%,85%);
    --border-color-alt:hsl(113,15%,90%);

    /* font-and-typography: */
    --body-font:"Lato", sans-serif;
    --secound-font:"League Spartan", sans-serif;
    --big-font-size:3.5rem;
    --h1-font-size:2.75rem;
    --h2-font-size:2rem;
    --h3-font-size:1.75rem;
    --h4-font-size:1.375rem;
    --large-font-size:1.125rem;
    --normal-font-size:1rem;
    --small-font-size:0.875rem;
    --smaller-font-size:0.75rem;
    --tiny-font-size:0.6875rem;
    /* font-weight-styles */
    --weight-400:400;
    --weight-500:500;
    --weight-600:600;
    --weight-700:700;
    /* transition: ; */
    --transition:cubic-bezier(0,0,0.05,1)
}

/*=====BASE====*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
input,
textarea,
body{
    color:var(--text-color);
    font-family:var(--body-color);
    font-size:var(--normal-font-size);
    font-weight:var(--weight-400);
}
body{
    background-color:var(--body-color);
}
h1,h2,h3,h4{
    font-family: var(--secound-font);
    color:var(--title-color);
    font-weight:var(--weight-600)
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    line-height: 1.5rem;
}
img{
    max-width:100%;
}
button,
textarea,
input{
background-color: transparent;
border:none;
outline:none;
}
/*=====REUSEABLE CSS CLASSES====*/
.container{
    max-width: 1100px;
    margin-inline:auto;
    padding-inline:0.75rem;
}
.form__input{
    border: 1px solid var(--border-color-alt);
    padding-inline:1rem;
    height:45px;
    border-radius: 0.25rem;
    font-size:var(--small-font-size)
}
.grid{
    display: grid;
    gap:1.5rem;
}
.section--lg{
    padding-block:3.5rem;
}
.section{
    padding-block:3.5rem;
}
.section__title{
    font-size:var(--h4-font-size);
    margin-bottom:1.5rem;
}
.section__title span{
    color:var(--first-color)
}
.flex{
    display: flex;
    align-items: center;
    column-gap: .5rem;
}
.new__price{
    color:var(--first-color);
    font-weight: var(--weight-600);
}
.old__price{
    color:var(--text-color-light);
    font-size:var(--small-font-size);
    text-decoration: line-through;
}
.product__price .new__price{
    font-size: var(--large-font-size);
}
/*=====HEADER AND NAV====*/
.header__top{
    background-color: var(--first-color-alt);
    border-bottom:1px solid hsl(177, 66%, 84%);
    padding-block: 0.20rem;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__contact span:first-child{
    margin-right:2rem
}
.header__contact span,
.header__alert-news,
.header__top-action{
    font-size: var(--small-font-size);
}
.header__alert-news{
    color:var(--text-color-light);
    font-weight: var(--weight-600);
}
.header__top-action{
    color:var(--text-color)
}
.nav,
.nav__menu,
.nav__list,
.header__user-actions{
    display: flex;
    align-items: center;
}
.nav{
   
    height:calc(var(--header-height) + 1.5rem);
    justify-content:space-between;
    column-gap: 1rem;
}
.nav__menu{
   width: 100%;
   margin-left:2.5rem;
}
.nav__logo-img{
    width:150px;
}
.nav__list{
    column-gap: 2.5rem;
    margin-right: auto;
}
.nav__link{
    color:var(--title-color);
    font-weight: var(--weight-700);
    transition:all 0.2s var(--transition);
}
.header__search{
    width:340px;
    position: relative;
}
.search__btn{
    position: absolute;
    top:24%;
    right:1.25rem;
    cursor: pointer;
}
.header__user-actions{
    column-gap: 1.2rem;
}
.header__action-btn{
    position: relative;
}
.header__action-btn img{
    width:30px;
}
.header__search .form__input{
    
    width:100%;
}
.header__action-btn .count{
    position: absolute;
    top:-0.625rem;
    bottom:-0.625rem;
    background-color: var(--first-color);
    color:var(--body-color);
    height: 18px;
    width:18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
}
.active-link,
.nav__link:hover{
    color:var(--first-color)
}
/*=====HOME====*/
.home__container {
    grid-template-columns: 5fr 7fr;
    align-items: center;
}
.home__subtitle,
.home__description{
    font-size:var(--large-font-size)
}
.home__subtitle{
    font-family: var(--second-color);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
    display: block;
}
.home__title{
    font-size:var(--h1-font-size);
    font-weight: var(--weight-700);
    line-height: 1.2;
}
.home__title span{
    color:var(--first-color);
    font-size: var(--big-font-size);
}
.home__description{
    margin-block: .5rem 2rem;
}
.home__img{
    justify-self: flex-end;
}

/*=====BUTTONS====*/
.btn{
    display: inline-block;
    background-color: var(--first-color);
    border:2px solid var(--first-color);
    color:var(--body-color);
    padding-inline:1.75rem;
    height:40px;
    line-height: 40px;
    border-radius:.25rem;
    font-family: var(--secound-font);
    font-size:var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);
}
.btn:hover{
    background-color:transparent;
    color:var(--first-color)
}
/*=====CATEGORIES====*/
.categories{
    overflow: hidden;
}
.category__item{
    text-align: center;
    border:1px solid var(--border-color);
    padding:0.625rem 0.625rem 1.25rem;
    border-radius: 1.25rem;
}
.category__img{
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
}
.category__title{
    color:var(--text-color);
    font-size:var(--small-font-size)
}
/* Swiper class */

.swiper{
    overflow: initial;
}
.categories{
    overflow: hidden;
}
.categories__container {
    position: relative;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content:'';
  height:10px;
  width:10px;
}



.swiper-buttons-top-right {
    position: absolute;
    top: -20px;       
    right: 50px;     
    display: flex;
    gap: 6px;        
    z-index: 10;
}

.swiper-button-next,
.swiper-button-prev {
    width: 25px;
    height: 25px;
    padding-block:5px;
    background-color: var(--first-color-alt);
    border: 1px solid var(--border-color);
    border-radius: 50%;
    
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--first-color);
    font-size: 16px;
    transition: all 0.3s ease;
}


.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: var(--first-color);
    
    color: #fff;
}
/* products-section */
.tab__btns{
    display: flex;
    column-gap: 0.75rem;
    margin-bottom:2rem;
}
.tab__btn{
  background-color: var(--container-color);
  color:var(--title-color);
  padding:1rem 1.25rem 0.875rem;
  border-radius:0.25rem;
  font-family:var(--secound-font);
  font-size:var(--small-font-size);
  font-weight: var(--weight-600);
  cursor:pointer;
}
/* btn-active-tab */
.tab__btn.active-tab{
    color:var(--first-color);
    background-color:var(--second-color)
}
/* //product-section */
.product__container{
    grid-template-columns: repeat(4,1fr);
}
.tab__item:not(.active-tab){
    display: none;
}
.product__item{
    border:1px solid var(--border-color);
    border-radius: 1.2rem;
}
.product__banner,
.product__images{
    position: relative;

}

.product__banner{
    padding: .0625rem 0.75rem;
}

.product__images{
    display: block;
    overflow: hidden;
   overflow: visible;
}
.product__item{
    border: 1px solid var(--border-color);
    border-radius: 1.5rem;
    transition: all .2s var(--transition);
}
.product__img{
    vertical-align: middle;
    transition: transform 1.5s var(--transition), opacity 0.6s var(--transition);
}
.product__item:hover .product__img{
    transform: scale(1);
}
.product__actions{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
     display: flex;
    column-gap: 0.5rem;
    transition: all .2s var(--transition);
}
.action__btn{
    width:40px;
    height:40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: var(--first-color-alt);
    border:1px solid (--border-color);
    color:var(--first-color);
    font-size:var(--small-font-size);
    position: relative;
}
.action__btn::before,
.action__btn::after{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 100;
    transition:all .3s cubic-bezier(0.71.1.7,0.77.1.24)
}
.action__btn::before{
    content:'';
    top:-2px;
    border: .5rem solid var(--border-color);
    border-top-color:var(--first-color)
}
.action__btn::after{
    content: attr(aria-label);
    bottom:100%;
    background-color: var(--first-color);
    color:var(--body-color);
    font-size:var(--tiny-font-size);
    
    white-space: nowrap;
    padding-inline: .625rem;
    border-radius: 0.25rem;
    line-height: 2.58rem;
}
.product__badge{
    position: absolute;
    left:1.2rem;
    top:1.2rem;
    background-color: var(--first-color);
    color:var(--body-color);
    padding:.24rem .625rem;
    border-radius: 2.5rem;
    font-size:var(--tiny-font-size);
    
}
.product__badge.light-pink{
    background-color: hsl(341,100%,73%);
}
.product__content{
    padding: 0 1.25rem 1.125rem;
    position: relative;
}
.cart__btn{
    position: absolute;
    bottom:1.6rem;
    right:1.2rem;
}
.product__category{
    color:var(--text-color);
    font-size:var(--small-font-size)
}
.product__img.hover{
    position: absolute;
    top:0;
    left:0;
   
}
.product-title{
    font-size: var(--normal-font-size);
    margin-block: 0.75rem 0.5rem;
}
.product-rating{
    font-size:var(--small-font-size);
    color:hsl(42,100%,50%);
    margin-bottom: 0.75rem,
}
.product__img.hover,
.product__img.default{
    padding-top:5px;
    width:100%;
    height:auto;
    transition: transform 0.4s var(--transition);
}
.product__img.hover,
.product__actions,
.action__btn::before,
.action__btn::after,
.product__item:hover .product__img.default{
    opacity: 0;
}
.product__item:hover .product__img.hover,
.product__item:hover .product__actions,
.action__btn:hover::before,
.action__btn:hover::after{
opacity: 1;
}
.action__btn:hover::after {
    opacity: 1;
    color: var(--body-color) !important;
    background-color: var(--first-color) !important;
}
.product__item:hover{
    box-shadow:0 0 10px hsla(0 ,0%,0%,0.1);
}
.action__btn:hover::before,
.action__btn:hover::after{
    transform: translateX(-50%) translateY(-0.5rem);
}
.action__btn:hover{
    background-color: var(--first-color);
    border-color: var(--first-color);
    color:var(--body-color)
}
.product__item:hover .product__img.hover {
    opacity: 1;
    transform: scale(1.05); 
}

.product__item:hover .product__img.default {
    opacity: 0;
}
/*=====BASE====*/
/*=====BASE====*/
/*=====BASE====*/
/* 1. Fix the Image Transition */


/* 4. Ensure the Hover Image is visible and stays in place */
